%h1 Your Profile Has Been Approved!

%p
  Hello #{@teacher.name},

%p
  We are pleased to inform you that your profile has been approved. You can now access all the features available to teachers.
%p
  Thank you for being part of our school community.

%p
  Best regards,
  Your School Team
