.main-content-container.overflow-hidden
  .d-flex.justify-content-between.align-items-center.flex-wrap.gap-2.mb-4
    %h3.mb-0 Assignment
    %div
      %a.ps-0.border-0.bg-transparent.lh-1.position-relative.top-2{ href: college_teachers_assignments_path(current_college.slug), 'data-bs-html': 'true', 'data-bs-offset': '0,4', 'data-bs-original-title': '<span>Back</span>', 'data-bs-placement': 'bottom', 'data-bs-toggle': 'tooltip', type: 'button' }
        %i.material-symbols-outlined.fs-16.text-body arrow_back
  .card.bg-white.border-0.rounded-3.mb-4
    .card-body.p-0
      .default-table-area.style-two.default-table-width
        .table-responsive
          %table.table.align-middle
            %thead
              %tr
                %th{ scope: "col" } Title
                %th{ scope: "col" } Description
                %th{ scope: "col" } File Link
            %tbody
              %tr
                %td.text-body= @assignment.name
                %td.text-body= @assignment.description
                %td
                  = link_to rails_blob_path(@assignment.file), target: "_blank" do
                    %i.material-symbols-outlined.fs-30 picture_as_pdf
