%p.mt-5.font-weight-medium.text-center.flex-grow.align-self-end
  &#xA9; #{Time.zone.today.year}&nbsp;
  %a.text-primary{href: '#', target: '_blank'}> School Management System
  \. All rights reserved
  %br
  Product of &nbsp;
  %a.text-primary
    JTECH PVT LTD
