.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-users
        User
        %small
          %i.fa.fa-arrow-right
          Edit
    .col-md-5.mt-2.mt-md-0.text-right
      %a.btn.btn-sm.btn-success{ href: college_principals_users_path(current_college.slug), data: {toggle: 'tooltip', placement: 'left'}, title: 'User' }
        %i.fa.fa-reply
  = render 'form', user: @user, url: college_principals_user_path(current_college.slug, @user.slug)
