/ Footer
%footer.content-footer.footer.bg-footer-theme
  .container-xxl.d-flex.flex-wrap.justify-content-between.py-2.flex-md-row.flex-column
    .mb-2.mb-md-0
      ©
      :javascript
        document.write(new Date().getFullYear());
      = t('layouts.footer.atkot')
/ / Footer
