%nav.layout-navbar.container-xxl.navbar.navbar-expand-xl.navbar-detached.align-items-center.bg-navbar-theme#layout-navbar
  .layout-menu-toggle.navbar-nav.align-items-xl-center.me-3.me-xl-0.d-xl-none
    %a.nav-item.nav-link.px-0.me-xl-4{ :href => 'javascript:void(0)' }
      %i.bx.bx-menu.bx-sm
  .navbar-nav-right.d-flex.align-items-center#navbar-collapse
    .navbar-nav.align-items-center
      .nav-item.d-flex.align-items-center
    %ul.navbar-nav.flex-row.align-items-center.ms-auto
      %li.nav-item.navbar-dropdown.dropdown-user.dropdown
        %a.nav-link.dropdown-toggle.hide-arrow{ 'data-bs-toggle' => 'dropdown', :href => 'javascript:void(0);' }
          .avatar.avatar-online
            - img =  'authors/3.jpg'
            = image_tag url_for(img), class: 'w-px-40 rounded-circle'
        %ul.dropdown-menu.dropdown-menu-end
          %li
            = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
              %i.bx.bx-power-off.me-2
              %span.align-middle= t('layouts.header.sign_out')

