%aside.layout-menu.menu-vertical.menu.bg-menu-theme#layout-menu
  .app-brand.demo
    %a.app-brand-link{ href: authenticated_user_path }
      .admin-app-brand-logo.demo
        %img.h-25px.h-lg-35px{ alt: 'Logo', src: image_url('favicon.ico') }
    %a.layout-menu-toggle.menu-link.text-large.ms-auto.d-block.d-xl-none{ :href => 'javascript:void(0);' }
      %i.bx.bx-chevron-left.bx-sm.align-middle
  .menu-inner-shadow
  %ul.menu-inner.py-1
    - if current_user.principal? || current_user.teacher?
      %li.menu-item{ class: menu_active_class('dashboard') }
        %a.menu-link{ href: authenticated_user_path }
          %i.menu-icon.tf-icons.bx.bx-home-circle
          %div{ 'data-i18n': 'Analytics' }= t('layouts.sidebar.dashboard')
      %li.menu-item{ class: menu_active_class('users') }
        %a.menu-link{ href: users_path }
          %i.menu-icon.tf-icons.bx.bx-home-circle
          %div{ 'data-i18n': 'Analytics' }= t('layouts.sidebar.teachers')
      %li.menu-item{ class: menu_active_class('classrooms') }
        %a.menu-link{ href: classrooms_path }
          %i.menu-icon.tf-icons.bx.bx-home-circle
          %div{ 'data-i18n': 'Analytics' }= t('layouts.sidebar.classrooms')
      %li.menu-item{ class: menu_active_class('subjects') }
        %a.menu-link{ href: subjects_path }
          %i.menu-icon.tf-icons.bx.bx-home-circle
          %div{ 'data-i18n': 'Analytics' }= t('layouts.sidebar.subjects')

    -# - else
    -#   %li.menu-item{ class: menu_active_class('dashboard') }
    -#     %a.menu-link{ href: new_jira_site_path }
    -#       %i.menu-icon.tf-icons.bx.bx-home-circle
    -#       %div{ 'data-i18n': 'Analytics' }= t('layouts.sidebar.dashboard')
    -# - if current_site.present?
    -#   %li.menu-item.menu-header.small.py-0.px-3{ class: sub_menu_active_class(%w[jira/projects jira/filters jira/boards]) }
    -#     %a.menu-link.menu-toggle.m-0{ href: '#' }
    -#       %i.menu-icon.tf-icons.bx.bx-layer
    -#       .small.menu-header-text= t('layouts.sidebar.modules')
    -#     %ul.menu-sub
    -#       %li.menu-item{ class: menu_active_class('jira/projects') }
    -#         %a.menu-link{ href: jira_site_projects_path(site_slug: current_site.slug) }
    -#           %div{ 'data-i18n': 'Basic' }= t('layouts.sidebar.projects')
    -#       %li.menu-item{ class: menu_active_class('jira/filters') }
    -#         -# %a.menu-link{ href: jira_site_filters_path(site_slug: current_site.slug) }
    -#           %div{ 'data-i18n': 'Basic' }= t('layouts.sidebar.filters')
    -#       %li.menu-item{ class: menu_active_class('jira/boards') }
    -#         %a.menu-link{ href: jira_site_boards_path(site_slug: current_site.slug) }
    -#           %div{ 'data-i18n': 'Basic' }= t('layouts.sidebar.boards')
