%nav.sidebar.sidebar-offcanvas#sidebar
  %ul.nav
    %li.nav-item.nav-profile
      %a.nav-link{ href: '#' }
        .nav-profile-image
          %span.login-status.online
        .nav-profile-text.d-flex.flex-column
          %span.font-weight-bold.text-break
            = current_user.email

    - if can_access?(:dashboard, :index)
      %li.nav-item{ class: menu_active_class('dashboard') }
        %a.nav-link{ href: authenticated_user_path }
          %i.fa.fa-home.menu-icon
          %span.menu-title Dashboard

    - if current_user.profile_setup?
      - resources = %i[users departments courses sessions academic_years fee_structures fee_components semesters admissions document_types college_payment_gateways exams]
      - resources.each do |resource|
        - if can_access?(resource, :index)
          %li.nav-item{ class: menu_active_class(resource.to_s) }
            %a.nav-link{ href: path_for(resource) }
              - icons = { users: 'fa-users', departments: 'fa-gear', courses: 'fa-file', sessions: 'fa-calendar',  academic_years: 'fa-graduation-cap',  fee_structures: 'fa-folder', fee_components: 'fa-money', semesters: 'fa-book', admissions: 'fa-file-text-o',  document_types: 'fa-file-pdf-o',
                         college_payment_gateways: 'fa-money', exams: 'fa-gear' }
              %i.fa{ class: "fa #{icons[resource]} menu-icon" }
              %span.menu-title= resource.to_s.titleize
