.d-flex.justify-content-between.align-items-center.mb-4
  %div
    %h4.fw-bold.py-0.m-0
      %span.text-muted.fw-light= 'User /'
      = t('issues.resolutions.table.new')
  %div
    %a.btn.btn-sm.btn-primary{ href: college_users_path, 'data-bs-html': 'true', 'data-bs-offset': '0,4', 'data-bs-original-title': '<span>Back</span>', 'data-bs-placement': 'bottom', 'data-bs-toggle': 'tooltip', type: 'button' }
      %i.bx.bx-chevron-left
.row
  .col-md-12
    .card.mb-4
      .card-body
        = render 'form', user: @user, url: user_path(@user.slug)
