.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-calendar
        Attendance
        %small
          %i.fa.fa-arrow-right
          = @attendance.employee.name
        %small
          %i.fa.fa-arrow-right
          Edit
    .col-md-5.mt-2.mt-md-0.text-right
      %a.btn.btn-sm.btn-success{href: admin_attendances_path, data: {toggle: 'tooltip', placement: 'left'}, title: 'Attendances'}
        %i.fa.fa-reply
      - if current_employee.access?('attendances', 'view')
        %a.btn.btn-sm.btn-info{href: admin_attendance_path(@attendance), data: {toggle: 'tooltip', placement: 'left'}, title: 'Show Attendance'}
          %i.fa.fa-eye
      - if current_employee.access?('attendances', 'add')
        %a.btn.btn-sm.btn-primary{href: new_admin_attendance_path, data: {toggle: 'tooltip', placement: 'left'}, title: 'New Attendance'}
          %i.fa.fa-plus
  = render 'form', action: :update
