.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-file-pdf-o
        Document Types
        %small
          %i.fa.fa-arrow-right
          Edit
    .col-md-5.mt-2.mt-md-0.text-right
      %a.btn.btn-sm.btn-success{ href: college_principals_document_types_path(current_college.slug), data: { toggle: 'tooltip', placement: 'left' }, title: 'Course' }
        %i.fa.fa-reply
  = render 'form', document_type: @document_type, url: college_principals_document_type_path(current_college.slug, @document_type.id)
