.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-file-pdf-o
        Document Types
    - if can_access?(:document_types, :new)
      .col-md-5.mt-2.mt-md-0.text-right
        %a.btn.btn-sm.btn-primary{ href: new_college_principals_document_type_path(current_college.slug), data: { toggle: 'tooltip', placement: 'left '}, title: 'New Fee Structure' }
          %i.fa.fa-plus

  .row
    .col-12.grid-margin
      .card
        .card-body
          - if @document_types.present?
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr.table-primary
                    %th Name
                    %th Required
                    %th.text-right{ width: '10%','data-orderable': 'false' } Actions
                %tbody
                  - @document_types.each do |document_type|
                    %tr
                      %td= document_type.name
                      %td= document_type.required
                      %td.text-right
                        - if can_access?(:document_types, :edit)
                          = link_to raw("<i class='fa fa-pencil-square-o'></i>"), edit_college_principals_document_type_path(current_college.slug, document_type.id), { class: 'btn-sm btn-warning px-2 py-1', 'data-toggle': 'tooltip', title: 'Edit' }
                        - if can_access?(:document_types, :destroy)
                          = link_to raw("<i class='fa fa-trash-o'></i>"), college_principals_document_type_path(current_college.slug, document_type.id), { class: 'btn-sm btn-danger px-2 py-1', 'data-toggle': 'tooltip', 'data-confirm': 'Are you sure?', title: 'Delete', method: :delete }
          - else
            %center
              %h6
                No Fee Structure Found.
