.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-file-text-o
        Admissions

  .row
    .col-12.grid-margin
      .card
        .card-body
          - if @admissions.present?
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr.table-primary
                    %th Name
                    %th Status
                    %th.text-right Action
                %tbody
                  - @admissions.each do |admission|
                    - status = admission.admission_college_actives.find_by(college_id: current_college&.id)
                    %tr
                      %td= link_to admission.name, college_principals_admission_path(current_college.slug, admission.slug)
                      %td
                        - if status&.active?
                          %span.badge.badge-success Active
                        - else
                          %span.badge.badge-secondary Inactive
                      %td.text-right
                        - if status&.active?
                          = link_to raw("<i class='fa fa-ban'></i>"),
                          change_status_college_principals_admission_path(current_college.slug, slug: admission.slug), { class: 'btn-sm btn-danger px-2 py-1', 'data-toggle': 'tooltip', 'data-confirm': 'Are you sure?', title: 'Deactivate', method: :put }
                        - else
                          = link_to raw("<i class='fa fa-check-square-o btn-success'></i>"),
                          change_status_college_principals_admission_path(current_college.slug, slug: admission.slug), { class: 'btn-sm btn-success px-2 py-1', 'data-toggle': 'tooltip', 'data-confirm': 'Are you sure?', title: 'Activate', method: :put }
          - else
            %center
              %h6 No Admissions Found
