.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-plus
        Bulk Score Entry
        %small
          %i.fa.fa-arrow-right
          = @exam.name
    .col-md-5.mt-2.mt-md-0.text-right
      %a.btn.btn-sm.btn-success{ href: college_teachers_exam_exam_results_path(current_college.slug, @exam.slug), data: {toggle: 'tooltip', placement: 'left'}, title: 'Back to Results List' }
        %i.fa.fa-reply
  = render 'form', exam: @exam, url: college_teachers_exam_exam_results_path(current_college.slug, @exam.slug)
