.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-calendar-plus-o
        Exams
        %small
          %i.fa.fa-arrow-right
          Edit
    .col-md-5.mt-2.mt-md-0.text-right
      %a.btn.btn-sm.btn-success{ href: college_teachers_exams_path, data: {toggle: 'tooltip', placement: 'left'}, title: 'All Exams' }
        %i.fa.fa-reply

  = render 'form', exam: @exam, url: college_teachers_exam_path(current_college.slug, @exam.slug)


