#preloader.preloader
  .preloader
    .waviy.position-relative
      %span.d-inline-block T
      %span.d-inline-block R
      %span.d-inline-block E
      %span.d-inline-block Z
      %span.d-inline-block O
