#sidebar-area.sidebar-area
  .logo.position-relative
    %a.d-block.text-decoration-none.position-relative{href: "/"}
      = image_tag('logo-icon.png', alt: 'logo-icon')
      %span.logo-text.fw-bold.text-dark Trezo
    %button#sidebar-burger-menu.sidebar-burger-menu.bg-transparent.p-0.border-0.opacity-0.z-n1.position-absolute.top-50.end-0.translate-middle-y
      %i{"data-feather" => "x"}
  %aside#layout-menu.layout-menu.menu-vertical.menu.active
    %ul.menu-inner
