.content-wrapper
  .page-header.row
    .col-md-7
      %h3.page-title
        %span.page-title-icon.bg-primary.text-white.mr-2
          %i.fa.fa-gear
        Departments
  .row
    .col-12.grid-margin
      .card
        .card-body
          - if @department.present?
            .table-responsive
              %table.table.table-hover
                %thead
                  %tr.table-primary
                    %th Name
                %tbody
                  %tr
                    %td= @department.name
          - else
            %center
              %h6
                No Department Found.
